<div id="sidebar">	
<h1>Movie Library</h1>
	<form method="get" action="/movies">
	<h2>Anything and everything you want to know about movies </h2>
</div>
	<div id="main">
		<div class="error">
		<h3>ERROR: unvalid entry. try again!</h3>
	</div>
	<input class ="box" type="text" name="movie" placeholder="Input your query here"/>
	<input class="button" type="submit" value="Search"/>
</div>
</form>
